@import "Variables";

div .card-label {
	display: flex;
	margin-top: 0.5rem;
	line-height: 1.1;
	font-weight: $fw-600;
}
.card-container {
	background-color: $clr-sidebar;
	border-radius: 0.25rem;
	padding: 1rem;
	width: fit-content;
	box-shadow: -0.5rem 0.5rem 0.5rem #000;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-self: flex-start;
}
.card img {
	box-shadow: none;
	border-radius: 0.25rem;
	width: 400px;
	height: auto;
}
.card-container:hover .card-label {
	color: $clr-beatshot-lightblue;
}
.card-container:hover .sub-heading,
.card-sub-label {
	color: $clr-white;
}
.card-container:hover img {
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
}
.card {
	width: fit-content;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	gap: 0.5rem;
}
.card .sub-heading {
	display: inline-flex;
	justify-content: space-between;
	align-items: baseline;
	vertical-align: baseline;
	font-size: $fs-200;
}
.card .card-sub-label {
	font-size: $fs-100;
}

@media (max-width: 40em) {
	.card-container {
		align-self: center;
	}
}
