@import "Variables";

$box-shadow-default: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
$border-radius-default: 0.25rem;

// Mixins
@mixin flex-center($flex-direction: column, $gap: 0) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: center;
	align-items: center;
	gap: $gap;
}
@mixin flex-gap($gap) {
	display: flex;
	gap: $gap;
}
@mixin container-style($max-width: 800px, $padding: 1rem, $gap: 0.75rem) {
	@include flex-center(column, $gap);
	margin: auto;
	width: 100%;
	max-width: $max-width;
	background-color: $clr-beatshot-darkblue;
	box-shadow: $box-shadow-default;
	border-radius: $border-radius-default;
	padding: $padding;
}
@mixin text-style($font-size, $line-height: normal) {
	font-size: $font-size;
	line-height: $line-height;
}

// Instructions Container
.instructions-container {
	@include flex-center(column, 0.25rem);
	line-height: 1;
	font-size: $fs-100;
	background: $clr-beatshot-bluegrey;
	color: $clr-white;
	padding: 0.25rem;
	position: relative;
	bottom: -5px;
	border-radius: 0.25rem;
	margin-bottom: 0.25rem;
}
.instructions-icon-container {
	@include flex-gap(0.25rem);
	flex-direction: row;
	padding-right: 0.2rem;
}

// Home Containers
.home-inner-container {
	padding: 0 0.5rem;
	@include flex-gap(0.5rem);
	flex-direction: column;
}

.home-container {
	@include container-style(800px, 1rem, 1rem);
	font-family: $ff-readable;
	font-size: $fs-200;
	line-height: 1.5em;
	ul {
		@include flex-center(column, 0.25em);
		li {
			font-size: $fs-200;
			text-indent: -1em;
			padding-left: 1.25em;
			line-height: 1.25em;
			ul li {
				padding-left: 1.4em;
			}
			p,
			svg {
				vertical-align: middle !important;
				display: inline;
			}
		}
		svg {
			color: $clr-beatshot-lightblue;
			height: auto;
			width: 0.75em;
			padding-right: 0.25em;
			ul svg {
				width: 0.6em;
			}
		}
	}
	> ul > p,
	> ul > li > ul > p {
		padding: 0.25em 0;
		font-size: $fs-200;
		line-height: 1.25em;
		text-indent: 0;
	}
	& > .home-inner-container:last-of-type {
		padding-bottom: 0.5rem;
	}
}

.centered-bordered-container,
.centered-bordered-container-1000,
.centered-bordered-container-nogap {
	@include container-style(800px, 1rem, 0.75rem);
}
.centered-bordered-container-1000 {
	max-width: 1000px;
}
.centered-bordered-container-nogap {
	gap: 0;
}

.time-statistics-container,
.best-avg-container,
.figure-border-container,
.delete-score-container,
.footer-container,
.blueprint-container,
.footer-brand-container,
.loading-container,
.steam-login-container,
.form-container,
.confirmation-container,
.header-container,
.sidebar-container,
.pn-container,
.hero-container {
	@include flex-center(column);
}

.flex-container {
	display: flex;
	flex-grow: 1;
}
.flex-container-row {
	@include flex-gap(1rem);
	width: 100%;
	padding: 0 1rem;
	min-width: 0;
}
.flex-container-column,
.content {
	@include flex-center(column, 1rem);
	flex-grow: 1;
	width: 100%;
	min-width: 0;
}
.content-header,
.content-main {
	@include flex-center(column, 1rem);
}

.content-header-text {
	@include text-style($fs-500);
	font-weight: 500;
	text-align: center;
}

.home-top-container {
	@include container-style(800px, 1rem, 1rem);
	font-family: $ff-readable;
}

.loading-container,
.steam-login-container,
.steam-login-container-top,
.steam-login-container-bottom {
	text-align: center;
}

.steam-login-container:hover {
	cursor: pointer;
	color: $clr-beatshot-lightblue;
	box-shadow: $box-shadow-default;
	border-radius: $border-radius-default;
}

.steam-login-container-top {
	flex-direction: row;
	background-color: $clr-beatshot-bluegrey;
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 0.25rem 0.75rem;
}

.steam-login-container-bottom {
	background-color: black;
	border-radius: 0 0 0.25rem 0.25rem;
	padding: 0.25rem 0.75rem;
}

.blueprint-container figcaption,
.blueprint-container .figlabel {
	@include text-style($fs-100);
	text-align: center;
	padding-top: 0.5rem;
	color: $clr-beatshot-lightgrey;

	&.figlabel {
		font-weight: 700;
	}
}

// Form and Confirmation Containers
.form-container,
.confirmation-container {
	max-width: 400px;
	background-color: hsla(0, 0%, 0%, 0.5);
	box-shadow: -0.5rem 0.5rem 0.5rem #000;
	gap: 0.5rem;
	font-size: 1rem;
	border-radius: $border-radius-default;
}

// Sidebar Container
div.sidebar-container {
	@include flex-center(column, 1rem);
	align-self: flex-start;
	padding: 1rem 0;
	background: $clr-beatshot-darkblue;
	position: sticky;
	top: $header-height;
	height: auto;

	&.centered {
		min-width: 250px;
		max-width: 250px;
		font-size: $fs-300;
		text-align: center;
	}

	&.left {
		min-width: 200px;
		max-width: 200px;
		font-size: $fs-75;
		text-align: left;
	}
}

// Hero Container
div.hero-container {
	position: relative;
	background: url("../../public/unreal-grid.png");
	width: 100%;
	padding: 0;
}

// Header Container
.header-container {
	@include flex-center(row);
	align-items: center;
	top: 0;
	position: sticky;
	height: $header-height;
	width: 100%;
	background: $clr-beatshot-bluegrey;
	z-index: 9999;
}
