@import "Variables";

/* mobile navigation toggle */
.mobile-nav-toggle {
	display: none !important;
}
.mobile-nav-toggle-background {
	display: none !important;
}
.header-container {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	top: 0;
	position: sticky;
	height: $header-height;
	width: 100%;
	background: $clr-beatshot-bluegrey;
	z-index: 9999;
}
header {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	font-weight: $fw-400;
	height: 100%;
	width: 100%;
	padding: 0.5rem 1rem 0.5rem 1rem;
	z-index: 9999;
}
header a {
	height: 100%;
	width: auto;
}
.header-logo {
	height: 100%;
	width: auto;
}

@media (min-width: 101.25rem) {
	header {
		max-width: 1625px;
	}
}

@media (max-width: 40em) {
	.primary-navigation {
		margin-top: $header-height;
		flex-wrap: nowrap;
		position: fixed;
		flex-direction: column;
		inset: 0 0 0 auto;
		padding: 0.5rem 1.75rem 0.5rem 1rem;
		background: $clr-beatshot-bluegrey;
		height: fit-content;
		width: fit-content;
		z-index: -1;
		gap: 0.75rem;
	}
	.primary-navigation[data-visible="true"] {
		transform: translateY(0%);
		transition: transform 250ms ease-in;
	}
	.primary-navigation[data-visible="false"] {
		transform: translateY(calc(-100% - #{$header-height}));
		transition: transform 250ms ease-out;
	}
	.mobile-nav-toggle-background {
		display: block !important;
		z-index: 9999;
		width: 100%;
		height: $header-height;
		background: $clr-beatshot-bluegrey;
		margin-right: -2rem;
	}
	.mobile-nav-toggle {
		display: block !important;
		z-index: 9999;
		height: calc(#{$header-height} - 2vh) !important;
		right: 1rem;
		top: 1vh;
		position: absolute;
	}
	.mobile-nav-toggle[data-visible="true"] {
		transform: rotate(0.25turn);
		transition: transform 250ms ease-in;
	}
	.mobile-nav-toggle[data-visible="false"] {
		transform: rotate(0turn);
		transition: transform 250ms ease-out;
	}
}
.primary-navigation {
	display: flex;
	z-index: 9998;
	gap: 1rem;
	font-size: $fs-300;
}
