// Custom Properties
$clr-beatshot-bluegrey: hsl(215, 41%, 18%);
$clr-beatshot-darkblue: hsl(215, 91%, 9%);
$clr-beatshot-lightblue: hsl(193, 81%, 58%);
$clr-beatshot-medblue: hsl(197, 66%, 21%);
$clr-beatshot-darkgrey: hsl(226, 8%, 49%);
$clr-beatshot-lightgrey: hsl(227, 15%, 70%);
$clr-white: hsl(0, 0%, 100%);
$clr-sidebar: hsl(216, 59%, 13%);

$fs-900: 3.5rem;
$fs-850: 3.25rem;
$fs-750: 3rem;
$fs-700: 2.75rem;
$fs-650: 2.5rem;
$fs-600: 2.25rem;
$fs-550: 2rem;
$fs-500: 1.75rem;
$fs-450: 1.5rem;
$fs-425: 1.25rem;
$fs-400: 1.125rem;
$fs-300: 1rem; // 16px
$fs-200: 0.875rem; // 14px
$fs-100: 0.75rem; // 12px
$fs-75: 0.65rem;
$fs-50: 0.5rem;

$fs-h1: 2rem;
$fs-h2: 1.5rem;
$fs-h3: 1.35rem;
$fs-h4: 1.15rem;
$fs-h5: 1rem;
$fs-h6: 0.8rem;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$header-height: 60px;
$min-header-height: 3rem;