@import "variables";

.footer-container {
	display: flex;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	position: relative;
	bottom: 0;
	height: $header-height;
	width: 100%;
	background: $clr-beatshot-bluegrey;
	z-index: 9999;
}
footer {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0.5rem 1rem 0.5rem 1rem;
	z-index: 9999;
	gap: 0.25rem;
	overflow: hidden;
}
.footer-brand-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	gap: 0.25rem;
	overflow: hidden;
}
.footer-logo {
	height: $fs-h2;
	width: auto;
}
.footer-logo-text {
	font-weight: $fw-600;
	text-shadow: 0 0 8px $clr-beatshot-lightblue;
	color: $clr-beatshot-lightblue;
}
.footer-description-text {
	padding-top: 0.1rem;
	font-size: $fs-100;
	max-height: 2rem;
	max-width: 300px;
}
.footer-icon-list {
	display: flex;
	align-content: center;
	flex-shrink: 0;
	gap: 0.5rem;
}
.footer-icon-link {
	color: $clr-white;
}

@media (min-width: 101.25rem) {
	footer {
		max-width: 1625px;
	}
}
@media (max-width: 40em) {
	.footer-description-text {
		visibility: collapse;
	}
	.footer-logo-text,
	.footer-logo {
		font-size: 1.2rem;
	}
	.footer-logo-text,
	.footer-logo {
		font-size: 1.2rem;
	}
}