@import "variables";

.table-header {
	text-align: center;
}
.table-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	font-size: 0.8rem;
}
.col-1 {
	font-weight: $fw-500;
}
.col-2 {
	display: flex;
	flex-direction: column;
	text-align: right;
	flex-grow: 1;
	justify-content: flex-start;
}
.time-statistics-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: auto;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.date-range {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: $fs-200;
}.select-container {
	background-color: $clr-beatshot-darkblue;
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.select-wrapper {
	display: flex;
	flex-direction: column;
	background-color: $clr-beatshot-darkblue;
	gap: 0.2rem;
	flex: 50%;
}
.stats-title {
	font-weight: $fw-500;
	text-shadow: 0 0 4px $clr-beatshot-lightblue;
	color: $clr-beatshot-lightblue;
}
.stats-subtitle {
	max-width: 800px;
	line-height: 1.1;
}
.stats-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
}
.select-caption {
	display: flex;
}
.song-select,
.game-mode-select,
.difficulty-select {
	display: flex;
	transition: 0.5s ease-in-out;
	color: $clr-beatshot-darkblue;
	font-size: $fs-100;
}
.best-avg-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 0.8rem;
	width: 100%;
	max-width: 750px;
	margin: auto;
}
.best-list,
.time-statistics {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem;
	background-color: $clr-beatshot-darkblue;
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
	border-radius: 0.25rem;
	gap: 0.15rem;
}

.delete-score-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto auto auto;
	gap: 0.75rem;
	width: 100%;
	background-color: $clr-beatshot-darkblue;
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
	border-radius: 0.25rem;
	padding: 1rem;
}
.delete-score-button:hover {
	background-color: red;
}
.delete-score-button:disabled:hover {
	background-color: $clr-beatshot-darkgrey;
}
.delete-score-button:disabled {
	border-radius: 0.25rem;
	background-color: $clr-beatshot-lightgrey;
}

@media (max-width: 40em) {
	.select-container {
		flex-direction: column;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.best-avg-container {
		flex-direction: column;
	}
	.stats-subtitle {
		max-width: 100%;
	}
}