@import "variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: auto;
	::before,
	::after {
		box-sizing: border-box;
	}
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}
@media (prefers-reduced-motion: reduce) {
	* {
		::before,
		::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}
html {
	font-size: 22px;
	color: $clr-white;
	height: 100%;
	scroll-behavior: smooth !important;
}
body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-montserrat);
	font-size: $fs-400;
	font-weight: $fw-400;
	line-height: 1.25;
	min-height: 100vh;
	background-color: $clr-beatshot-darkblue;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	flex-grow: 1;
}
canvas {
	width: 100% !important;
	height: 100% !important;
}
a {
	outline: none;
	text-decoration: none;
	color: $clr-white;
	&:hover {
		color: $clr-beatshot-lightblue;
	}
	&.active {
		color: $clr-beatshot-lightblue;
	}
}
.hover-white:hover {
	color: $clr-white;
}
h1 {
	font-size: $fs-h1;
	font-weight: $fw-800;
}
h2 {
	font-size: $fs-h2;
	font-weight: $fw-700;
}
h3 {
	font-size: $fs-h3;
	font-weight: $fw-600;
}
h4 {
	font-size: $fs-h4;
	font-weight: $fw-600;
}
h5 {
	font-size: $fs-h5;
	font-weight: $fw-400;
}
h6 {
	font-size: $fs-h6;
	font-weight: $fw-400;
}
li {
	list-style-type: none;
}
button {
	border: none;
	border-radius: 0.25rem;
	margin-inline: auto;
	outline: none;
	padding: 0.25rem;
	cursor: pointer;
	&:hover {
		background-color: $clr-beatshot-lightblue;
	}
	&:disabled {
		border-radius: 0.25rem;
		background-color: $clr-beatshot-lightgrey;
		&:hover {
			background-color: $clr-beatshot-darkgrey;
		}
	}
}

.button-recover {
	margin-inline: unset;
	font-size: $fs-200;
	margin-top: 0.5rem;
}
.fake-button,
.fake-button:hover,
.fake-button-recover {
	all: unset;
	cursor: pointer;
}
.flex-container {
	display: flex;
	flex-grow: 1;
}
.flex-container-row {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: 1rem;
	width: 100%;
	min-width: 0;
}
.flex-container-column {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
	min-width: 0;
}
.content {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	gap: 1rem;
}
.content-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.content-header-text {
	font-size: $fs-500;
	font-weight: $fw-500;
	text-align: center;
}
.centered-bordered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto auto auto;
	gap: 0.75rem;
	width: 100%;
	max-width: 800px;
	background-color: $clr-beatshot-darkblue;
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
	border-radius: 0.25rem;
	padding: 1rem;
}
.centered-bordered-container-nogap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 0rem;
	width: 100%;
	max-width: 800px;
	background-color: $clr-beatshot-darkblue;
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
	border-radius: 0.25rem;
}
.centered-bordered-container-1000 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto auto auto;
	gap: 0.75rem;
	width: 100%;
	max-width: 1000px;
	background-color: $clr-beatshot-darkblue;
	box-shadow: 0rem 0rem 0.25rem 0rem $clr-beatshot-lightblue;
	border-radius: 0.25rem;
	padding: 1rem;
}
.profile-name-text {
	font-weight: $fw-600;
	text-shadow: 0 0 4px $clr-beatshot-lightblue;
	color: $clr-beatshot-lightblue;
	text-align: center;
	text-decoration: none;
	outline: none;
	min-height: 1.25em;
}
.profile-name-text:hover {
	text-shadow: 0 0 4px $clr-white;
	color: $clr-white;
}
.loading-container {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.loading-text {
	font-weight: $fw-600;
	text-shadow: 0 0 4px $clr-beatshot-lightblue;
	color: $clr-beatshot-lightblue;
}

/*---------------*/
/* mobile toggle */
/*---------------*/

@media (min-width: 101.25rem) {
	.flex-container-row {
		max-width: 1625px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 40em) {
	.flex-container {
		flex-direction: column;
	}
	.flex-container-row {
		flex-direction: column;
		gap: 0;
	}
	.responsive-centered-container {
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
	}
}
